<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotin Dojo</title>
</head>

<body>
    <h1>Welcome to QuotingDojo</h1>
    <br>
    <br>
    <br>
    <form method="POST" action="/process">
        <p>Your name: <input type="textarea" name="name"></p>
        <p>Your quote: <input type="textarea" name="quote"></p>
        <button type="submit">Add my quote!</button>
    </form>

    <button><a href="/result">Skip to quotes!</a></button>




</body>

</html>